extends layout

block content
    nav.grid-container.portfolio-breadcrumb
        a(href='/') ← Back
    article.grid-container.portfolio-intro.portfolio-project
        .grid-x
            .cell.small-6.medium-9.large-9
                h1= `${error.message} - Status: ${error.status}`
                p.lead.text-light Oops! Something has broken during the request!
                img.image(src=`/static/images/error_handling.png`)
                p= error.stack
            .cell.portfolio-meta.small-6.medium-2.large-3
                h6 Technologies
                ul
                    li Error Handling
                    li HTML
                    li pug